.slidebar {
  width: 17%;
  border-right: 1px solid #d6d9dc;
}

.userArea {
  display: flex;
  margin: 1em 1em;
  margin-bottom: 3em;
}

.userName {
  font-size: 32px;
  font-weight: 700;
}

.tabArea {
  width: 100%;
  border-bottom: 1px solid #d6d9dc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tabArea button {
  border-radius: 0;
}

.tabArea button:hover {
  background-color: hsl(230.5, 44.1%, 97%);
}

.tab {
  color: 	hsl(210, 7.9%, 70.1%);
}

.tab-active {
  border-bottom: 2px solid #5a6abf;
  color: #5a6abf;
}
