.layout {
  display: grid;
  grid-template-columns: 19.825em auto;
  grid-template-rows: 72px auto;
  grid-template-areas: "bar bar"
                       "nav body";
  flex-flow: row;
  height: 100vh;
  background-color: #eeeeee;
}

.nav {
  grid-area: nav;
}

.body {
  grid-area: body;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 1em;
  gap: 1em;
}

.bar {
  grid-area: bar;
}
