.sidebar {
  min-width: 300px;
  width: 17%;
  border-right: 1px solid #e8eaf6;
  display: flex;
  flex-flow: column;
  padding: 2em 0em;
}

.active {
  border-right: 3px solid #5c6bc0;
  padding-right: calc(2em - 3px);
}
